div {
  border: 1px red dotted;
}

header {
  border: 1px red dotted;
}

main {
  border: 1px red dotted;
}

footer {
  border: 1px red dotted;
}


body {
  margin: 0px;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.sidenav {
  background-color: #FAFAFA;
}

.container{
  background-color: #FFFFFF;
  flex: 1;
}
