<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <title>$TAB_TITLES$</title>
  </head>
  <body>
    <main>
      <div class="sidenav">
        <div class="log">
          <a href="/"><img src="../../assets/images/zebra-developer-logo.png" class="logo"></a>
        </div>
        <div class="menu">
          <ul class="menu-list">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/node">NodeJS</a>
            </li>
            <li>
              <a href="/express">Express</a>
            </li>
            <li>
              <a href="/javascript">JavaScript</a>
            </li>
            <li>
              <a href="/rest">REST</a>
            </li>
            <li>
              <a href="/tools">Tools</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <header>
          <div>Dokumentation for valgfaget "Full Stack udvikling med NodeJS og Svelte" af Steffen Grøn Andersen</div>
        </header>
        <div class="content">

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/water.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    
    $CSS_LINKS$

    <title>$TAB_TITLE$</title>
  </head>
  <body>
    <nav>
      <a href="/"><img id="logo" src="/assets/images/logo.png" /></a>

    </nav>
    <main> -->
