<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <title>Steffen</title>
  </head>
  <body>
    <main>
      <div class="sidenav">
        <div class="logo">Cool IMAGE</div>
        <div class="menu">
          <ul class="menu-list">
            <li>
              <a href="/">Home</a>
              <ul>
                <li>Subpoint 1</li>
                <li>Subpoint 2</li>
              </ul>
            </li>
            <li>
              <a href="/node">NodeJS</a>

              <ul>
                <li>Subpoint 1</li>
                <li>Subpoint 2</li>
              </ul>
            </li>
            <li>
              Services
              <ul>
                <li>Subpoint 1</li>
                <li>Subpoint 2</li>
              </ul>
            </li>
            <li>
              Contact
              <ul>
                <li>Subpoint 1</li>
                <li>Subpoint 2</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <header>
          <div>Full Stack Developer Nation</div>
          <div>
            <div>Button 1</div>
            <div>Button 2</div>
          </div>
          
        </header>
        <div class="content">

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/water.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    
    $CSS_LINKS$

    <title>$TAB_TITLE$</title>
  </head>
  <body>
    <nav>
      <a href="/"><img id="logo" src="/assets/images/logo.png" /></a>

    </nav>
    <main> -->
